head
   title #{ISBN}

   script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
   link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
   script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS", crossorigin="anonymous")   script(src="/js/navbar.js")
   
   script(src="/js/navbar.js")
   script(src="/js/serv-int.js")
   link(rel="stylesheet", href="/css/book.css")
   
   script.
      var username = !{JSON.stringify(username)};
   
   script(type="text/javascript").
      $(document).ready(function() {
         $("#nav-logout").on("click", function() {
            userLogout();
         })
         
         $(".book-add-user-collection").on("click", function() {
            var isbn = $(this).parent().parent().parent().attr("id");
            userAdd(isbn, username);
         })
         
         $(".book-more-info-button").on("click", function() {
            $(".book-more-info").slideToggle();
         })
      })


body
   include navbar

   div.container-fluid#book
      div.container
         div.book-information(id=ISBN)
            div.row
               div.col-md-5
                  img.book-img(src=img, alt=title + " Image")
               div.col-md-7
                  h4.book-title #{title}
                  h6.book-author by #{author}
                  button.btn.btn-default.book-more-info-button(type="button") Click For More Info...
                  br
                  div.book-more-info
                     p Genres: 
                     each val in genre
                        span.book-genre= val 
                     p.book-published Published by #{published_by} on #{published_date}
                     p.book-pages #{pages} pages
                     p.book-ISBN ISBN: #{ISBN}
                  button.btn.btn-default.book-add-user-collection Add to Collection


   footer
      p.footer &copy; 2015 Book Club

