head
   title Search Results

   script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
   link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
   script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS", crossorigin="anonymous")   script(src="/js/navbar.js")
   
   script(src="/js/navbar.js")
   script(src="/js/serv-int.js")
   link(rel="stylesheet", href="/css/search-results.css")
   
   script.
      var username = !{JSON.stringify(username)};
   
   script(type="text/javascript").
      $(document).ready(function() {
         $("#nav-logout").on("click", function() {
            userLogout();
         })
         
         $(".add-to-collection").on("click", function() {
            userAdd($(this).parent().attr("id").slice(6), username);
         })
         
         $(".search-result-username").on("click", function() {
            var user = $(this).parent().attr("id").slice(6);
            window.location.pathname = "/user/" + user;
         })
      })


body
   include navbar
   
   div.container-fluid#main-section
      div.container
         h1 Search Results
         div.search-results
            if(book)
               each val, index in results
                  div.search-result(id="result" + val.ISBN)
                     div.clickable
                        img.book-img(src=val.img, alt=val.title + " Image")
                        p.book-title= val.title
                     button.btn.btn-default.book-button.add-to-collection Add to Collection
            else
               each val, index in results
                  div.search-result-user(id="result" + val.username)
                     button.btn.btn-default.search-result-username= val.username
                  
   include footer